.container {
  display: flex;
  align-items: center;

  &:hover {
    opacity: .75;
  }
}

.icon {
  margin-right: 16px;
}

.text {
  font-size: 14px;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.5);
}

@media (max-width: 1024px) {
  .icon {
    margin-right: 12px;
  }

  .text {
    font-size: 12px;
    line-height: 17px;
    color: rgba(26, 26, 26, 0.5);
  }
}

@media (max-width: 450px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
